html {
--max-width: 40em;
--line-height: 1.5;
--varfont: 1.0em sans-serif;
--fixfont: 1.0em monospace;
--fg: #000000;
--bg: #ffffff;
/*--bg: #d9d5ba;*/
--codefg: #333333;
--codebg: #E8E5D5;
--link-color: #333333;
--active-color: #69825b;
--visited-color: #755b82;
--hover-color: #69825b;
--link-decoration: none;
}
