@import url(config.css);
body {
 background:var(--bg);
 color:var(--fg);
 font:var(--varfont);
 max-width:var(--max-width);
 line-height:var(--line-height);
 padding:0 .5em;
 margin:1em auto;
}
footer,
header {
 font:var(--fixfont)
}
code {
 font:var(--fixfont);
 background:var(--codebg);
 color:var(--codefg);
 padding:0 4px
}
a {
 text-decoration:var(--link-decoration)
}
a:link {
 color:var(--link-color)
}
a:active {
 color:var(--link-color)
}
a:hover {
 border-bottom:1px solid;
 color:var(--hover-color)
}
a:visited {
 color:var(--visited-color)
}
